{% extends "cookbook/base.html" %}

{% block content %}
<div class="col-md-12">
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h2>{{ author.author_name }}</h2>
                {% if author.author_bio.notblank %}
                    <h4>Bio</h4>
                    <p>{{ author.author_bio }}</p>
                {% endif %}

                <h4>Recipes Contributed</h4>
            </div>
        </div>
    </article>
</div>
{% endblock content %}