{% extends "cookbook/base.html" %}

{% block content %}
<div class="col-md-8">
    {% for author in author_list %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <div class="thumbnail">
                    <p>placeholder</p>
                </div>
                <h2><a href="{{ author.get_absolute_url }}">{{ author.author_name }}</a></h2>
            </div>
        </div>
    </article>
    {% endfor %}
</div>

<div class="col-md-4">
    <div class="content-section">
        <h3>Top 5 Chefs</h3>
        <p class='text-muted'>Chefs with the most recipes in the database
        <ul class="list-group">
            {% for top5 in sidebar_authors %}
            <li class="list-group-item list-group-item-light"><a href="{{ top5.get_absolute_url }}">{{ top5.author_name }}</a></li>
            {% endfor %}
        </ul>
        </p>
    </div>
</div>
{% endblock content %}