{% extends "cookbook/base.html" %}

{% block content %}
<div class="col-md-12">
    <article class="author-heading">
        <div class="media-body">
            <div class="article-metadata">
                <h2>{{ author.author_name }}</h2>
                {% if author.author_bio.notblank %}
                    <h4>Bio</h4>
                    <p>{{ author.author_bio }}</p>
                {% endif %}

                <h4>Recipes Contributed</h4>
                {% for recipe in recipes_authored %}
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <div class="thumbnail">
                                <p>placeholder</p>
                            </div>
                            <h2><a href="{{ recipe.get_absolute_url }}">{{ recipe.recipe_name }}</a></h2>
                            <p>{{ recipe.description }}</p>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
    </article>
</div>
{% endblock content %}