{% extends "cookbook/base.html" %}

{% block content %}
<div class="col-md-12">
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h2>{{ author.author_name }}</h2>
                {% if author.author_bio.notblank %}
                    <h4>Bio</h4>
                    <p>{{ author.author_bio }}</p>
                {% endif %}

                <h4>Recipes Contributed</h4>
                {% for recipe in recipes_authored %}
                    <div class="thumbnail">
                        <p>placeholder</p>
                    </div>
                    <h5><a href="{{ recipe.get_absolute_url }}">{{ recipe.recipe_name }}</a></h5>
                    <div class="article-metadata">
                        <p>{{ recipe.description }}</p>
                        <p>{{ recipe.convert_time }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </article>
</div>
{% endblock content %}