{% extends "cookbook/base.html" %}

{% block content %}
<div class="col-md-12 full-size">
    <article class="media">
        <div class="media-body">
            <div class="article-metadata recipe-heading">
                <h2>{{ recipe.recipe_name }}</h2>
                <p>By: <a href="{{ recipe.author.get_absolute_url }}" rel="author" >{{ recipe.author }}</a></p>
                <div>
                    <p class='inline'>Prep Time: {{ recipe.convert_time }}</p>
                    <p class='inline'>Servings: {{ recipe.servings }} </p>
                </div>
                <p>{{ recipe.description }}</p>
            </div>
            <div class="row">
                <div class="article-content col-md-8">
                    {% if recipe.notes.notnull %}
                        <p>Notes: {{ recipe.notes }}</p>
                    {% endif %}
                    <h4>Instructions</h4>
                    <div class="steps">
                        {% for step in recipe.recipe_generate_steps %}
                            <p><span class="number">{{ forloop.counter }}.</span> {{ step }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4 ingredient-list">
                    <h5>Ingredients</h3>
                    <div class='ingredient-list-content'>
                        <ul class="list-group ingredients-list-group">
                            {% for item in recipe_ingredients %}
                                <li class="list-group-item ingredient-list-item">{{ item.amount }} {{ item.ingredient.ingredient_name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
  </article>
</div>
{% endblock content %}