{% extends "cookbook/base.html" %}

{% block content %}
<div class="col-md-12 full-size">
    <article class="media">
        <div class="media-body">
            <div class="article-metadata recipe-heading">
                <h2>{{ recipe.recipe_name }}</h2>
                <p>By: <a href="{{ recipe.author.get_absolute_url }}" rel="author" >{{ recipe.author }}</a></p>
                <div>
                    <p class='inline'>Prep Time: {{ recipe.display_prep_time }}</p>
                    <p class='inline'>Cook Time: {{ recipe.display_cook_time }}</p>
                    <p class='inline'>Servings: {{ recipe.servings }} </p>
                </div>
                <p>{{ recipe.description }}</p>
            </div>
            <div class="row">
                <div class="article-content col-md-8">
                    {% if recipe.notes.notnull %}
                        <p>Notes: {{ recipe.notes }}</p>
                    {% endif %}
                    <h4>Instructions</h4>
                    <div class="steps">
                        {% for instructions in recipe_instructions %}
                            {% if instructions.section_title != Null %}
                                <h5>{{ instructions.section_title }}</h5>
                            {%  endif %}
                            {% for step in instructions.recipe_generate_steps %}
                                <p><span class="number">{{ forloop.counter }}.</span> {{ step }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4 ingredient-list">
                    <h5>Ingredients</h3>
                    <div class='ingredient-list-content'>
                        <ul class="list-group ingredients-list-group">
                            {% for ingredients in recipe_ingredients %}
                                {% if ingredients.section_title != Null %}
                                    <h5>{{ ingredients.section_title }}</h5>
                                {%  endif %}
                                {% for item in ingredients.ingredient_generate_list %}
                                    <li class="list-group-item ingredient-list-item">{{ item }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h4>Notes</h4>
                    <p>{{ recipe.notes }}</p>
                </div>
            </div>
        </div>
  </article>
</div>
{% endblock content %}