{% extends "cookbook/base.html" %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h2>{{ technique.technique_name }}</h2>
                <iframe width="560" height="315" src="http://www.youtube.com/embed/{{ technique.video_link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>{{ technique.technique_tutorial }}</p>
            </div>
        </div>
  </article>
{% endblock content %}