{% extends "cookbook/base.html" %}

{% block content %}
<div class="col-md-8">
    {% for technique in technique_list %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <div class="thumbnail">
                    <p>placeholder</p>
                </div>
                <h2><a href="{{ technique.get_absolute_url }}">{{ technique.technique_name }}</a></h2>
            </div>
        </div>
    </article>
    {% endfor %}
</div>

<div class="col-md-4">
    <div class="content-section">
        <h3>Top Techniques</h3>
        <p class='text-muted'>Most used techniques
        <ul class="list-group">
            <li class="list-group-item list-group-item-light">Technique 1</li>
            <li class="list-group-item list-group-item-light">Technique 2</li>
            <li class="list-group-item list-group-item-light">Technique 3</li>
            <li class="list-group-item list-group-item-light">Technique 4</li>
            <li class="list-group-item list-group-item-light">Technique 5</li>
        </ul>
        </p>
    </div>
</div>
{% endblock content %}